@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary: #0d1117;
  --primaryLight: #161b22;
  --text: #c9d1d9;
  --title: #58a6ff;
  --secondary: #238636;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  font-size: 16px;
  background: var(--primary);
  color: var(--text);
}

.container {
  padding: 0 5%;
}

.select-input,
input {
  height: 40px;
  background: var(--primary);
  border-width: 0;
  padding: 0 10px;
  color: var(--text);
  border-radius: 4px;
}

input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.select-input:focus,
input:focus {
  outline: 0px;
}

.btn {
  color: var(--text);
  background: var(--secondary);
  padding: 10px 20px;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:hover {
  background: #2ea043;
}

.btn:focus {
  outline: none;
}

.loading {
  margin: 30px auto;
  text-align: center;
}

.header {
  background: var(--primaryLight);
}

.searchbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}

.searchbar span {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.searchbar svg {
  fill: var(--text);
  margin-right: 10px;
}

/* search list  */
.search-list {
  max-width: 700px;
  margin: auto;
}
.search-list .search-info {
  padding: 30px 0;
}

.search-list .search-info .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.search-list .search-info .select-input {
  border: 1px solid var(--primaryLight);
  margin-left: 10px;
}

.search-list .list {
  list-style: none;
}

.search-list .list li {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(201, 209, 217, 0.4);
}

.search-list .list .list-style {
  padding: 5px 15px 0 0;
}

.search-list .list .list-description a {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--title);
  text-decoration: none;
  transition: all 0.3s;
}

.search-list .list .list-description a:hover {
  text-decoration: underline;
}

.search-list .list .repo-info span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}

.search-list .list .repo-info span svg {
  transform: translateY(2px);
}

/* Pagination  */
.pagination-wrapper {
  max-width: 700px;
  margin: 20px auto 60px;
  text-align: center;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  display: inline-block;
  text-decoration: none;
  height: 40px;
  min-width: 40px;
  line-height: 38px;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
  background: var(--primaryLight);
  color: var(--text);
  border-radius: 4px;
}

.pagination .page-item.active .page-link {
  background: var(--text);
  color: var(--primaryLight);
}

.pagination .page-item.prev .page-link,
.pagination .page-item.next .page-link {
  padding: 5px 15px;
}

/* Search Detail  */
.search-detail .result-box {
  height: 80vh;
  padding: 30px;
  border: 1px solid var(--primaryLight);
  max-width: 700px;
  margin: 30px auto;
}

.search-detail .result-box .title {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--primaryLight);
  margin-bottom: 20px;
}

.search-detail .result-box .title h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.search-detail .result-box .title .icon {
  font-size: 18px;
  margin-right: 5px;
}

.search-detail .result-box .title a {
  color: var(--title);
  text-decoration: none;
  transition: all 0.3s;
}

.search-detail .result-box .title a:hover {
  text-decoration: underline;
}

.search-detail .result-box .title {
  flex-direction: column;
}

.search-detail .result-box .title,
.search-detail .result-box .result-info {
  display: flex;
  justify-content: space-between;
}

.search-detail .result-box .result-info {
  margin-bottom: 20px;
}
